*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 37, 41);


}
.home img{
    width: 60%;
    height: 500px;
    margin: 100px;
box-shadow: rgba(168, 21, 21, 0.25) 0px 0.0625em 0.0625em, rgba(49, 221, 27, 0.25) 0px 0.125em 0.5em, rgba(228, 206, 84, 0.1) 0px 0px 0px 1px inset;
   border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
transition-duration: 0.5s;

}

 img:hover{

    padding: 5px;

 
}
